In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
np.set_printoptions(precision=4,suppress=True)

In [2]:
#mechanika interfejsu grupowania
df = pd.DataFrame({
    'klucz1':['a','a','b','b','a'],
    'klucz2':['jeden','dwa','jeden','dwa','jeden'],
    'dane1':np.random.randn(5),
    'dane2':np.random.randn(5)
})

df

,klucz1,klucz2,dane1,dane2
0,a,jeden,-2.209325,0.354725
1,a,dwa,-1.096611,-0.510364
2,b,jeden,0.337403,-0.698988
3,b,dwa,-0.020412,-1.469897
4,a,jeden,-0.488067,-0.787495

In [3]:
grouped = df['dane1'].groupby(df['klucz1'])
grouped

In [4]:
grouped.mean()

In [5]:
means = df['dane1'].groupby([df['klucz1'],df['klucz2']]).mean()
means

In [6]:
means.unstack()

klucz2,dwa,jeden
klucz1,,
a,-1.096611,-1.348696
b,-0.020412,0.337403

In [9]:
woj = np.array(['mazowieckie','małopolskie','lubelskie','pomorskie','śląskie'])
lata = np.array([2018,2018,2020,2018,2020])
i = df['dane1'].groupby([woj,lata]).mean()

In [10]:
i.unstack()

,2018,2020
lubelskie,NaN,0.337403
mazowieckie,-2.209325,NaN
małopolskie,-1.096611,NaN
pomorskie,-0.020412,NaN
śląskie,NaN,-0.488067

In [11]:
for name,group in df.groupby('klucz1'):
    print(name)
    print(group)

a
  klucz1 klucz2     dane1     dane2
0      a  jeden -2.209325  0.354725
1      a    dwa -1.096611 -0.510364
4      a  jeden -0.488067 -0.787495
b
  klucz1 klucz2     dane1     dane2
2      b  jeden  0.337403 -0.698988
3      b    dwa -0.020412 -1.469897

In [12]:
pieces = dict(list(df.groupby('klucz1')))
pieces['b']

,klucz1,klucz2,dane1,dane2
2,b,jeden,0.337403,-0.698988
3,b,dwa,-0.020412,-1.469897

In [13]:
people = pd.DataFrame(np.random.randn(5,5),
                      columns=['a','b','c','d','e'],
                      index=['Leon','Filip','Anna','Olga','Nadia'])

people.iloc[2:3,[1,2]] = np.nan
people

,a,b,c,d,e
Leon,-0.307499,-0.596149,0.361902,0.838119,0.909626
Filip,1.711974,-0.263929,-1.609838,-1.354237,-0.801609
Anna,-2.146822,NaN,NaN,0.042898,-1.130398
Olga,1.726879,-1.072919,-0.884700,0.783270,0.158732
Nadia,-0.794622,-1.346040,0.110415,0.156495,0.066343

In [14]:
mapping = {
    'a':'czerwony',
    'b':'czerwony',
    'c':'niebieski',
    'd':'niebieski',
    'e':'czerwony',
    'f':'pomarańczowy'
}

In [15]:
by_column = people.groupby(mapping,axis=1)
by_column.sum()

,czerwony,niebieski
Leon,0.005978,1.200021
Filip,0.646436,-2.964074
Anna,-3.277220,0.042898
Olga,0.812692,-0.101430
Nadia,-2.074318,0.266910

In [16]:
people.groupby(pd.Series(mapping),axis=1).count()

,czerwony,niebieski
Leon,3,2
Filip,3,2
Anna,2,1
Olga,3,2
Nadia,3,2