In [1]:
import pandas as pd

In [3]:
unames = ['user_id','gender','age','occupation','zip']
users = pd.read_table('dane/movielens/users.dat', sep='::',header=None,names=unames)

rnames = ['user_id','movie_id','rating','timestamp']
ratings = pd.read_table('dane/movielens/ratings.dat', sep='::',header=None,names=rnames)

mnames = ['movie_id','title','genres']
movies = pd.read_table('dane/movielens/movies.dat',encoding='ISO-8859-1', sep='::',header=None,names=mnames)

<ipython-input-3-268ceacb783f>:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  users = pd.read_table('dane/movielens/users.dat', sep='::',header=None,names=unames)
<ipython-input-3-268ceacb783f>:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ratings = pd.read_table('dane/movielens/ratings.dat', sep='::',header=None,names=rnames)
<ipython-input-3-268ceacb783f>:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies = pd.read_table('dane/movielens/movies.dat',encoding='ISO-8859-1', sep='::',header=None,names=mnames)

In [4]:
users[:5]

,user_id,gender,age,occupation,zip
0,1,F,1,10,48067
1,2,M,56,16,70072
2,3,M,25,15,55117
3,4,M,45,7,02460
4,5,M,25,20,55455

In [5]:
ratings[:5]

,user_id,movie_id,rating,timestamp
0,1,1193,5,978300760
1,1,661,3,978302109
2,1,914,3,978301968
3,1,3408,4,978300275
4,1,2355,5,978824291

In [6]:
movies[:5]

,movie_id,title,genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy