In [1]:
import pandas as pd

In [2]:
obj = pd.Series([4,7,-5,3])
obj

In [3]:
type(obj)

pandas.core.series.Series

In [4]:
obj.values

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
obj2 = pd.Series([4,7,-5,3],index=['a','b','d','c'])
obj2

In [7]:
obj2['a']

4

In [8]:
obj2['d'] = 888
obj2

In [9]:
obj2['g'] = 100
obj2

In [10]:
obj2[['c','d']]

In [11]:
obj2[obj2>6]

In [12]:
obj2*2

In [13]:
'b' in obj2

True

In [14]:
'h' in obj2

False

In [15]:
s = {'Warszawa':45678,'Kraków':44323,'Lublin':41988,'Gdańsk':40122}
s

{'Warszawa': 45678, 'Kraków': 44323, 'Lublin': 41988, 'Gdańsk': 40122}

In [16]:
obj3 = pd.Series(s)
obj3

In [17]:
miasta = ['Poznań','Kraków','Rzeszów','Lublin']
obj4 = pd.Series(s,index=miasta)
obj4

In [18]:
obj3+obj4

In [19]:
data = {'miasto':['Warszawa','Warszawa','Warszawa','Kraków','Kraków','Kraków'],
        'rok':[2017,2018,2019,2018,2019,2020],
        'populacja':[2.7,2.75,3.05,0.85,0.91,1.01]}

frame = pd.DataFrame(data)

In [20]:
frame

,miasto,rok,populacja
0,Warszawa,2017,2.70
1,Warszawa,2018,2.75
2,Warszawa,2019,3.05
3,Kraków,2018,0.85
4,Kraków,2019,0.91
5,Kraków,2020,1.01

In [21]:
frame2 = pd.DataFrame(data,columns=['rok','miasto','populacja','waga'],index = ['jeden','dwa','trzy','cztery','pieć','sześć'])
frame2

,rok,miasto,populacja,waga
jeden,2017,Warszawa,2.70,NaN
dwa,2018,Warszawa,2.75,NaN
trzy,2019,Warszawa,3.05,NaN
cztery,2018,Kraków,0.85,NaN
pieć,2019,Kraków,0.91,NaN
sześć,2020,Kraków,1.01,NaN

In [22]:
frame2['waga']=0.12

In [23]:
frame2

,rok,miasto,populacja,waga
jeden,2017,Warszawa,2.70,0.12
dwa,2018,Warszawa,2.75,0.12
trzy,2019,Warszawa,3.05,0.12
cztery,2018,Kraków,0.85,0.12
pieć,2019,Kraków,0.91,0.12
sześć,2020,Kraków,1.01,0.12

In [24]:
import numpy as np

In [25]:
frame2['waga']=np.arange(6.)
frame2

,rok,miasto,populacja,waga
jeden,2017,Warszawa,2.70,0.0
dwa,2018,Warszawa,2.75,1.0
trzy,2019,Warszawa,3.05,2.0
cztery,2018,Kraków,0.85,3.0
pieć,2019,Kraków,0.91,4.0
sześć,2020,Kraków,1.01,5.0

In [27]:
frame2['waga'] = np.array([0.99,1.08,1.1,2,3,0.1])
frame2

,rok,miasto,populacja,waga
jeden,2017,Warszawa,2.70,0.99
dwa,2018,Warszawa,2.75,1.08
trzy,2019,Warszawa,3.05,1.10
cztery,2018,Kraków,0.85,2.00
pieć,2019,Kraków,0.91,3.00
sześć,2020,Kraków,1.01,0.10